<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.guqing.creek.mapper.UserMapper">
    <select id="findByUsername" parameterType="string" resultType="xyz.guqing.creek.model.bo.CurrentUser">
        SELECT u.id,
               u.username,
               u.nickname,
               u.email,
               u.mobile,
               u.password,
               u.status,
               u.create_time             createTime,
               u.gender,
               u.group_id,
               u.last_login_time         lastLoginTime,
               u.modify_time             modifyTime,
               u.description,
               u.avatar,
               u.is_internal,
               u.role_ids,
               d.group_name
        FROM user u
                 LEFT JOIN user_group d ON u.group_id = d.id
        WHERE u.username = #{username} and deleted = 0
    </select>

    <select id="findUserBy"
            parameterType="xyz.guqing.creek.model.params.UserQuery"
            resultType="xyz.guqing.creek.model.dos.UserDO">
        SELECT
        u.id,
        u.username,
        u.nickname,
        u.email,
        u.mobile,
        u.status,
        u.deleted,
        u.create_time createTime,
        u.gender,
        u.group_id,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        u.is_internal,
        u.role_ids,
        g.group_name groupName,
        FROM
        `user` u
        LEFT JOIN user_group g ON u.group_id = g.id
        WHERE
        u.deleted=0
        <if test="userQuery.username != null and userQuery.username != ''">
            AND u.username = #{userQuery.username}
        </if>
        <if test="userQuery.groupId != null and userQuery.groupId != ''">
            AND g.id = #{userQuery.groupId}
        </if>
        <if test="userQuery.gender != null and userQuery.gender != ''">
            AND u.gender = #{userQuery.gender}
        </if>
        <if test="userQuery.status != null and userQuery.status != ''">
            AND u.status = #{userQuery.status}
        </if>
        <if test="userQuery.mobile != null and userQuery.mobile != ''">
            AND u.mobile = #{userQuery.mobile}
        </if>
        <if test="userQuery.groupName != null and userQuery.groupName != ''">
            AND g.group_name like CONCAT('%',#{userQuery.groupName},'%')
        </if>
        <if test="userQuery.createTimeFrom != null">
            And u.create_time &gt; #{userQuery.createTimeFrom}
        </if>
        <if test="userQuery.createTimeTo!= null">
            And u.create_time &lt; #{userQuery.createTimeTo}
        </if>
        order by u.create_time desc
    </select>
</mapper>
